{{define "ch03/01.tpl_syntax.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- . Access the context of the current location -->
    <!-- $ Refer to the context of the root level of the current template -->
    <!-- $. Reference to the root-level context in the template -->

    <h2>template syntax 1</h2>

    <h3>1. Context</h3>

    <p>{{.}}</p>

    <p>{{.name}}</p>

    <p>
        {{range .arr}}
        {{.}}
        {{end}}
    </p>

    <p>
        {{range $i, $v := .arr}}
        {{$i}}: {{$v}}, {{$.name}} <br>
        {{end}}
    </p>
    <hr>

    <h3>2. Support the symbols of the go language</h3>

    <p>{{"mark"}}</p>

    <p>{{`mark`}}</p>

    <p>{{'a'}}, {{'A'}}</p>

    <p>{{print .name}}</p>

    <p>{{print nil}}</p>

    <hr>

    <h3>4、Consume Define variables</h3>
    <p>
        {{$username := "paul"}}
        {{$username}}
    </p>
    <hr>

    <h3>5、pipline</h3>
    <p>{{"mark" | len}}</p>
    <hr>

    <h3>6、if</h3>
    <p>
        {{if .name1}}
        Welcome: {{.name}}
        {{else}}
        Welcome: 游客
        {{end}}
    </p>

    <p>
        {{if .name}}
        welcome: {{.name}}

        {{if .birth}}
        生日快乐
        {{else}}

        {{end}}

        {{else}}
        welcome: 游客

        {{end}}
    </p>
    <hr>

    <h3>7、range</h3>
    <p>
        {{range .arr}}
        {{.}}
        {{end}}
    </p>

    <p>
        {{range $v := .arr}}
        {{/*$v*/}}
        {{.}}
        {{end}}
    </p>

    <p>
        {{range .arr1}}
        {{.}}
        {{else}}
        No Data
        {{end}}
    </p>
</body>

</html>
{{end}}