{{define "ch03/04.tpl_func2.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Template Function 2</h2>
    <h3>一、Format</h3>
    {{.now_time}} <br>
    {{.now_time.Format "2006-01-02 15:04:05"}}
    <hr>

    <h3>二、html</h3>
    {{/*<a href="https://www.bing.com/">Bing</a>*/}} <br>

    {{`<a href='https://www.bing.com/'>Bing</a>`}}<br>

    {{html "<a href='https://www.bing.com/'>Bing</a>"}}
    <hr>

    <h3>三、js</h3>
    <!-- <script>alert(111)</script> -->
    
    {{js "<script>alert(111)</script>"}}
    <hr>
</body>

</html>
{{end}}