{{define "ch03/02.tpl_syntax.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>template syntax 2</h2>
    <h3>1、with：伴随</h3>
    <p>
        {{.article.ID}}
        {{.article.Name}}
        {{.article.Description}}
    </p>

    <p>
        {{with .article}}
        {{.ID}}
        {{.Name}}
        {{.Description}}
        {{else}}
        暂无数据
        {{end}}
    </p>
    <hr>

    <h3>2、template: Introduce another template file</h3>

    <p>
        {{/*template "ch03/01.tpl_syntax.html" . */}}
    </p>

    <p>
        {{template "ch03/02.base.html" . }}
    </p>
    <hr>

    <h3>3、Annotation</h3>
    {{/*这是模板注释*/}}

    {{/* comment content
    support new line */}}

    {{/*
    这是模板块注释
    这是模板块注释
    这是模板块注释
    这是模板块注释
    */}}

</body>

</html>
{{end}}