{{define "ch03/05.consume_tpl_func.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Consume Template Function 2</h2>
    <p>
        {{add_num 1 2}} <br>
        {{add_num 3 4}} <br>

        {{str_len "query" 3}} <br><br>

        {{html `<a href='https://www.bing.com/'>Bing</a>`}}<br>
        {{safe_html "<a href='https://www.bing.com/'>Bing</a>"}} 
    </p>
</body>

</html>
{{end}}