{{define "ch04/to_json_form.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
</head>

<body>
    <h2>Bind Json</h2>
    <form>
        Name: <input type="text" name="name" id="name" placeholder="Please Input Name"> <br>
        Age: <input type="text" name="age" id="age" placeholder="Please Input Age"> <br>
        Addr: <input type="text" name="addr" id="addr" placeholder="Please Input Addr"> <br>
        <input type="button" value="submit" id="btn">
    </form>

    <script>
        let btn = document.querySelector('#btn');
        btn.addEventListener('click', function (evt) {
            // get value
            let name = document.querySelector('#name').value;
            let age = document.querySelector('#age').value;
            let addr = document.querySelector('#addr').value;

            $.ajax({
                url: "/ch04/do_bind_json",
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    "name": name,
                    "age": Number(age),
                    "addr": addr,
                }),
                success(data) {
                    alert(data["code"]);
                    alert(data["msg"]);
                },
                fail(data) {
                    console.log(data);
                    alert("server err");
                }
            })
        })
    </script>
</body>

</html>
{{end}}