{{define "ch02/user_add2.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>user add page</h2>

    <form action="/ch02/do_user_add2" method="post">
        username: <input type="text" name="username" id=""><br>
        passwd: <input type="text" name="passwd" id=""><br>
        age: <input type="text" name="age"><br>
        
        足球: <input type="checkbox" name="love" id="" value="足球">,
        篮球: <input type="checkbox" name="love" id="" value="篮球">,
        乒乓球: <input type="checkbox" name="love" id="" value="乒乓球">,
        棒球: <input type="checkbox" name="love" id="" value="棒球"> <br>
        
        addr: <input type="text" name="user[addr]" id=""><br>
        phone: <input type="text" name="user[phone]" id=""><br>
        
        <input type="submit" value="submit">
        
    </form>
</body>

</html>
{{end}}