{{define "chapter03/base.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    this base page
    <br>
    {{with .article}}
    {{.Id}}
    {{.Title}}
    {{.Description}}
    {{else}}
    暂无内容
    {{end}}

    <br>
    {{/* this 模板注释 */}}

    <br>
    {{/*
    this 模板块注释
    this 模板块注释
    this 模板块注释
    this 模板块注释
    */}}
</body>

</html>
{{end}}