{{define "ch04/to_bind_form.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Bind Form</h2>
    <form action="/ch04/do_bind_form" method="post">
        Name: <input type="text" name="name" id="" placeholder="Please Input Name"> <br>
        Age: <input type="text" name="age" id="" placeholder="Please Input Age"> <br>
        Addr: <input type="text" name="addr" id="" placeholder="Please Input Addr"> <br>
        <input type="submit" value="submit">
    </form>
</body>

</html>
{{end}}