{{define "ch02/user_add3.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
</head>

<body>
    <h2>user add page</h2>

    <form>
        name: <input type="text" name="username" id="username"><br>
        passwd: <input type="text" name="passwd" id="passwd"><br>
        <!-- age: <input type="text" name="age" id="age"><br> -->

        <input type="button" value="submit" id="add_btn">
    </form>

    <script>
        // 1. get add_btn obj
        let btn = document.querySelector('#add_btn')
        // 2. bind add_btn listen event
        btn.addEventListener('click', function(evt){
            // 3. get name, pwd, age value
            let name = document.querySelector("#username").value;
            let passwd = document.querySelector("#passwd").value;

            // 4. by ajax send data to server
            $.ajax({
                url: "/ch02/do_user_add3",
                type: "POST",
                data: {
                    "username": name,
                    "passwd": passwd,
                },
                success(data) {
                    alert(data["code"])
                    alert(data["msg"])
                },
                fail: function(data) {
                    alert("fail")
                    alert(data["code"])
                    alert(data["msg"])
                }
            })
        })

        
    </script>
</body>

</html>
{{end}}