{{define "array_struct.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- 方式 1 -->
    {{range .}}
    {{.Id}}
    {{.Name}}
    {{.Age}}
    {{.Address}}
    <br>
    {{end}}

    <hr>
    <!-- 方式 2 -->
    {{range $i, $v := .}}
    {{$v.Id}}
    {{$v.Name}}
    {{$v.Age}}
    {{$v.Address}}
    <br>
    {{end}}

    <hr>
    {{range $v := .}}
    {{$v.Id}}
    {{$v.Name}}
    {{$v.Age}}
    {{$v.Address}}
    <br>
    {{end}}

    <hr>
    {{range $i, $v := .}}
    {{$v}}
    <br>
    {{end}}
</body>

</html>
{{end}}