{{define "chapter02/user_add4.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    user add page <br>
    <form action="/do_user_add4" method="POST">
        name: <input type="text" name="name" ><br>
        age: <input type="text" name="age"><br>
        addr: <input type="text" name="addr"><br>
        <input type="submit" value="submit" >
    </form>
</body>
</html>
{{end}}