{{define "chapter02/user_add3.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
</head>
<body>
    user add page <br>
    <form action="">
        name: <input type="text" name="name" id="username"><br>
        password: <input type="password" id="password"><br>
        age: <input type="text" id="age"><br>
        <input type="button" value="submit" id="add_btn">
    </form>

    <script>
        let add_btn = document.querySelector("#add_btn");

        add_btn.addEventListener('click', function(){
            let username = document.querySelector("#username").value;
            let password = document.querySelector("#password").value;
            let age = document.querySelector("#age").value;

            $.ajax({
                url: "/do_user_add3",
                type: "POST",
                data: {
                    username: username,
                    password: password,
                    age: age,
                },
                success: function(data){
                    alert(data["code"]);
                    alert(data["msg"]);
                }
            })
        })
    </script>
</body>
</html>
{{end}}