{{define "ch02/arr.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <h2>arr render page</h2>
    <!-- one -->
    {{range .}}
    <span>{{.}}</span>
    {{end}}

    <hr>
    <!-- two -->
    {{range $i, $v := .}}
    <span>{{$i}}: {{$v}},</span>
    {{end}}
</body>

</html>
{{end}}