{{define "ch02/upload_ajax2.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
</head>

<body>
    <h2>Aajx Upload Single File Page</h2>

    <form>
        <input type="file" name="file" class="file"><br>
        <input type="file" name="file" class="file"><br>

        name: <input type="text" name="name" id="name"><br>
        <input type="button" value="submit" id="btn_upload">
    </form>

    <script>
        // Get btn obj
        let btn = document.querySelector('#btn_upload')

        // listen click event
        btn.addEventListener('click', function(evt) {
            // get files
            let files = $('.file')
            
            // get name val
            let name = document.querySelector('#name').value;
            
            // Assembly form data
            let form_data = new FormData();

            form_data.append('name', name)
            // for files
            for (let i =0; i < files.length; i++) {
                // console.log(files[i].files[0])
                form_data.append('file', files[i].files[0])
            }
            $.ajax({
                url: '/ch02/do_upload4',
                type: 'POST',
                data: form_data,
                processData: false,
                contentType: false,

                success(data){
                    alert(data['code']);
                    alert(data['msg']);
                },
                fail(data) {
                    // 
                }
            })
        })
    </script>
</body>

</html>
{{end}}