{{define "chapter04/bind_valid.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    valid data page <br>
    <form action="/chapter04/do_valid" method="POST">
        title:<input type="text" name="title"><br>
        content:<input type="text" name="content"><br>
        desc:<input type="text" name="desc"><br>
        email:<input type="text" name="email"><br>
        <input type="submit" value="submit"><br>
    </form>
</body>
</html>
{{end}}