{{define "ch02/user_add.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>user add page</h2>

    <form action="/ch02/do_user_add" method="post">
        username: <input type="text" name="username" id=""><br>
        passwd: <input type="text" name="passwd" id=""><br>
        <input type="submit" value="submit">
    </form>
</body>

</html>
{{end}}