{{define "chapter03/template1.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    template statements 1 <br>

    {{.name}}

    <br>
    {{range .arr}}
    {{.}}
    {{$.name}}
    {{end}}

    <br>
    {{range $i, $v := .arr}}
    {{$i}}
    {{$v}}
    {{end}}

    <br>
    {{"zhiniao"}}
    {{`zhiniao`}}

    <br>
    {{'a'}}
    {{'A'}}

    <br>
    <!-- 不转义 -->
    {{`a`}}

    <br>
    {{print nil}}

    <br>
    {{$name := "paul"}}
    {{$name}}

    <br>
    {{.name | len}}

    <br>
    {{if .name}}
    欢迎: {{.name}}

    {{if .birth}}
    生日快乐
    {{else}}

    {{end}}
    {{else}}
    欢迎: 游客
    {{end}}

    <br>
    {{range .arr}}
    {{.}}
    {{end}}

    <br>
    {{range $v := .arr}}
    {{$v}}
    {{.}}
    {{else}}
    暂无内容
    {{end}}
    
    <br>
    {{.article.Id}}
    {{.article.Title}}
    {{.article.Description}}
    <br>

    {{with .article1}}
    {{.Id}}
    {{.Title}}
    {{.Description}}

    {{else}}
    暂无内容
    
    {{end}}
    <br>

    {{template "chapter03/base.html" .}}
</body>

</html>
{{end}}